<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">  
<html>
	<head>
		<!-- google fonts -->
		<link href='http://fonts.googleapis.com/css?family=Lato:700,900' rel='stylesheet' type='text/css'>
		<link href="../ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="../ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
		<script type="text/javascript" src="../ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
		<script src="js/swfobject_modified.js" type="text/javascript"></script>
		<script type="text/javascript" src="js/utils.js"></script>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" /><title>A.S.D. Arend</title><link href="css/defaultPageView.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="css/toolkit.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="css/common.css" media="screen" rel="stylesheet" type="text/css" />
    </head>
    <body class="claro">

		<div style="display: none" id="hideAll">&nbsp;</div>
	<script type="text/javascript">
	    document.getElementById("hideAll").style.display = "block";
	    window.onload = function() 
	    { document.getElementById("hideAll").style.display = "none"; }
	</script>
    

  <div class="wrapper" id="content_wrapper_index">
	
	
	<div class="wrapper">
    	<!--header-->

		<div id="header">
			<div id="logo" class="fleft"><a href="index.html"><img alt="" src="imgs/commons/logo.png"></a></div>
            <!--menu sponsor-->
            <div id="menu_sponsor">
            	<ul>
                	<li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>	
            </div>

                <div class="fleft sponsor mt5 ml20">
                	<a class="sponsor-5 fleft mr20" title="" target="_blank" href="http://www.facebook.com/pages/SIX-pub-grill/168188073271964">SIX pub & grill</a>
                	<a class="sponsor-6 fleft mr20" title="" target="_blank" href="https://www.facebook.com/Gonow.Napoli?fref=ts">Gonow fashion lab</a>
                    <a class="sponsor-7 fleft mr20" title="" target="_blank" href="https://www.facebook.com/pages/Al-Bambù/280568278710276?fref=ts">Al Bambù</a>
                    <a class="sponsor-3 fleft mr20" title="" target="_blank" href="http://www.sportland.milano.it/">Sportland</a>
                    <a class="sponsor-8 fleft mr20" title="" target="_blank" href="https://www.facebook.com/pages/MDM-Medical-Division-Management-srl/230793023698125?fref=ts">MDM</a>
                </div>
                

            <!--end menu sponsor-->
            <!--menu-->
            <div>
				<ul id="menu" class="fleft lato lato900">
																<li>
							<a href="/" >Inicio</a>
																				</li>
											<li>
							<a href="/default/page/index/id/1" >Torneos</a>
																						<ul>
																			<li><a href="/default/page/index/id/17" >Futbol 7</a></li>
																			<li><a href="/default/page/index/id/18" >Futbol 5</a></li>
																			<li><a href="/default/page/index/id/50" >Torneos anteriors</a></li>
																	</ul>
													</li>
											<li>
							<a href="http://www.dailymotion.com/f100001251791394#video=xzchs4" target="_blank">Fotos</a>
																				</li>
											<li>
							<a href="/default/page/index/id/78" >Sedes</a>
																				</li>
								
											<li>
							<a href="/default/page/index/id/2" >Contactos</a>
																				</li>
									</ul>
			</div>
            <!--end menu-->
            <!--social-->
            <div class="fright icosocial">
            	<a href="http://www.facebook.com/ARENDASD" target="_blank" title="facebook" class="social-fb fleft mr5">Link a Facebook</a>
                <a href="https://twitter.com/OfficialArend" target="_blank" title="twitter" class="social-twitter fleft mr5">Link a Twitter</a>
                <a href="http://www.youtube.com/user/ARENDSPORT" target="_blank" title="youtube" class="social-youtube fleft">Link al canale Youtube</a>
            </div> 
            <div class="clearfix"></div>
		</div><!--end header-->
	</div>
    
    <!--menu torneo-->
    <div id="menu-torneo">
    	<div class="menu-torneo-sx"></div>
		<div class="menu-torneo-center">
			<ul>
				<div class="scudetto"><img height="30" src="uploads/pages_2d5f74974a92c68008605371d23ef378.png"/></div><li class="mr20"><a href="default/tournament/view/id/38">Liga A clausura  2013</a></li>
				<div class="scudetto"><img height="30" src="uploads/pages_c8c01b2fda0e0705affe90458b86478b.png"/></div><li class="mr20"><a href="default/tournament/view/id/37">Liga B clausura  2013</a></li>
				<div class="scudetto"><img height="30" src="uploads/pages_36ec360629ccb7c0033847237c96a1f9.png"/></div><li class="mr20"><a href="default/tournament/view/id/36">Liga C clausura  2013</a></li>
				<!--div class="fright">
                	<li class="last"><a href="/default/tournament">Altre competizioni</a></li>
                </div-->
           	</ul>
        </div> 
        <span class="menu-torneo-dx"></span>
    </div>
    <!--end menu torneo-->
    
    <!--LOGIN-->
    <div class="wrapper">
		<div class="w450 fleft tr bgwhite" style="height: 68px;width: 100%;"></div>
    </div>
    <!--end LOGIN-->
     
    <div class="wrapper bgwhite">

	    <div id="content">
			<div id="content" class="m25 pt20 pb20">
	<div id="pageView-title">
	El selectivo		</div>

	<div class="clearfix tournament-home">
	
		<div class="bggray w550 fleft mr40 f14 border_lightest">
    		
            <div class="mt20">
            <div class="fleft w100 pr20 pl20"><img width="100px" src="uploads/logo_4e8dd1fdf760d2550f80b5ffcf9d487e.png" /></div>
                <div class="fleft w400 pb20 pl10">
                    <div class="player-name pb25">
                        <div class="w200 fleft"><b>Ciudad</b></div>
                        <div class="w200 fleft">Napoli</div>
                    </div>
                    <div class="player-name pb25">
                        <div class="w200 fleft"><b>Sito web</b></div>
                        <div class="w200 fleft">-</div>
                    </div>
                    <div class="player-name pb25">
                        <div class="w200 fleft"><b>Delegado</b></div>
                        <div class="w200 fleft">-</div>
                    </div>
					<br />
					<br />
					<br />
					<br />
					<br />
                </div>
             <br clear="all" />
        	</div>
            </div>

			<div class="mt20">
            <div class="w300 tr fright">
                <img style="max-width: 300px;" class="shadow" src="uploads/photo_dca9d6c88495a6aafc8a0d92058bdb37.jpg" />
            </div>
            </div>

			<br clear="all" />
    		
            <div class="mt20 fleft w450 mr40">
                            <!--giocatori-->
                <div class="w450 fleft f14 mr20">
                    <div class="border_light_bottom pb5 mb10 lato f20 b">Jugadores</div>
                    <div>
                                            <div class="pb10">
                            <div class="w300 mr fleft"><a href="../../../user/index/id/2311.html"><span class="player-name">Autieri Guido</span></a></div>
                            <div class="w12 fright"></div>
                             <div class="clearfix"></div>
                        </div>
                                                <div class="pb10">
                            <div class="w300 mr fleft"><a href="../../../user/index/id/312.html"><span class="player-name">Bavero Andrea</span></a></div>
                            <div class="w12 fright"></div>
                             <div class="clearfix"></div>
                        </div>
                                                <div class="pb10">
                            <div class="w300 mr fleft"><a href="../../../user/index/id/604.html"><span class="player-name">Bavero Davide</span></a></div>
                            <div class="w12 fright"></div>
                             <div class="clearfix"></div>
                        </div>
                                                <div class="pb10">
                            <div class="w300 mr fleft"><a href="../../../user/index/id/510.html"><span class="player-name">Boccia Francesco</span></a></div>
                            <div class="w12 fright"></div>
                             <div class="clearfix"></div>
                        </div>
                                                <div class="pb10">
                            <div class="w300 mr fleft"><a href="../../../user/index/id/1003.html"><span class="player-name">Cioce Marco</span></a></div>
                            <div class="w12 fright"></div>
                             <div class="clearfix"></div>
                        </div>
                                                <div class="pb10">
                            <div class="w300 mr fleft"><a href="../../../user/index/id/422.html"><span class="player-name">Collini Antonio</span></a></div>
                            <div class="w12 fright"></div>
                             <div class="clearfix"></div>
                        </div>
                                                <div class="pb10">
                            <div class="w300 mr fleft"><a href="../../../user/index/id/511.html"><span class="player-name">Crispino Giovanni</span></a></div>
                            <div class="w12 fright"></div>
                             <div class="clearfix"></div>
                        </div>
                                                <div class="pb10">
                            <div class="w300 mr fleft"><a href="../../../user/index/id/831.html"><span class="player-name">De Simone Daniele</span></a></div>
                            <div class="w12 fright"></div>
                             <div class="clearfix"></div>
                        </div>
                                                <div class="pb10">
                            <div class="w300 mr fleft"><a href="../../../user/index/id/1686.html"><span class="player-name">Di Scala Gianluigi</span></a></div>
                            <div class="w12 fright"></div>
                             <div class="clearfix"></div>
                        </div>
                                                <div class="pb10">
                            <div class="w300 mr fleft"><a href="../../../user/index/id/1321.html"><span class="player-name">Di Stefano Simone</span></a></div>
                            <div class="w12 fright"></div>
                             <div class="clearfix"></div>
                        </div>
                                                <div class="pb10">
                            <div class="w300 mr fleft"><a href="../../../user/index/id/519.html"><span class="player-name">Gallo Francesco</span></a></div>
                            <div class="w12 fright"></div>
                             <div class="clearfix"></div>
                        </div>
                                                <div class="pb10">
                            <div class="w300 mr fleft"><a href="../../../user/index/id/515.html"><span class="player-name">Giordano Luca</span></a></div>
                            <div class="w12 fright"></div>
                             <div class="clearfix"></div>
                        </div>
                                                <div class="pb10">
                            <div class="w300 mr fleft"><a href="../../../user/index/id/514.html"><span class="player-name">Magurno Dario</span></a></div>
                            <div class="w12 fright"></div>
                             <div class="clearfix"></div>
                        </div>
                                                <div class="pb10">
                            <div class="w300 mr fleft"><a href="../../../user/index/id/517.html"><span class="player-name">Marino Alessio</span></a></div>
                            <div class="w12 fright"></div>
                             <div class="clearfix"></div>
                        </div>
                                                <div class="pb10">
                            <div class="w300 mr fleft"><a href="../../../user/index/id/521.html"><span class="player-name">Moio Salvio</span></a></div>
                            <div class="w12 fright"></div>
                             <div class="clearfix"></div>
                        </div>
                                                <div class="pb10">
                            <div class="w300 mr fleft"><a href="../../../user/index/id/999.html"><span class="player-name">Monda Antonio</span></a></div>
                            <div class="w12 fright"></div>
                             <div class="clearfix"></div>
                        </div>
                                                <div class="pb10">
                            <div class="w300 mr fleft"><a href="../../../user/index/id/2310.html"><span class="player-name">Monda Pierluigi</span></a></div>
                            <div class="w12 fright"></div>
                             <div class="clearfix"></div>
                        </div>
                                                <div class="pb10">
                            <div class="w300 mr fleft"><a href="../../../user/index/id/349.html"><span class="player-name">Netti Marco</span></a></div>
                            <div class="w12 fright"></div>
                             <div class="clearfix"></div>
                        </div>
                                                <div class="pb10">
                            <div class="w300 mr fleft"><a href="../../../user/index/id/509.html"><span class="player-name">Pisa Maurizio</span></a></div>
                            <div class="w12 fright"></div>
                             <div class="clearfix"></div>
                        </div>
                                                <div class="pb10">
                            <div class="w300 mr fleft"><a href="../../../user/index/id/1274.html"><span class="player-name">Roncalli Vittorio</span></a></div>
                            <div class="w12 fright"></div>
                             <div class="clearfix"></div>
                        </div>
                                                <div class="pb10">
                            <div class="w300 mr fleft"><a href="../../../user/index/id/1724.html"><span class="player-name">Rossi Aurelio</span></a></div>
                            <div class="w12 fright"></div>
                             <div class="clearfix"></div>
                        </div>
                                                <div class="pb10">
                            <div class="w300 mr fleft"><a href="../../../user/index/id/1666.html"><span class="player-name">Rossi Dario</span></a></div>
                            <div class="w12 fright"></div>
                             <div class="clearfix"></div>
                        </div>
                                                <div class="pb10">
                            <div class="w300 mr fleft"><a href="../../../user/index/id/512.html"><span class="player-name">Sommella Giuseppe</span></a></div>
                            <div class="w12 fright"></div>
                             <div class="clearfix"></div>
                        </div>
                                                <div class="pb10">
                            <div class="w300 mr fleft"><a href="../../../user/index/id/2076.html"><span class="player-name">Turiello Antonio</span></a></div>
                            <div class="w12 fright"></div>
                             <div class="clearfix"></div>
                        </div>
                                                <div class="pb10">
                            <div class="w300 mr fleft"><a href="../../../user/index/id/1394.html"><span class="player-name">Verde Mariano</span></a></div>
                            <div class="w12 fright"></div>
                             <div class="clearfix"></div>
                        </div>
                                                <div class="pb10">
                            <div class="w300 mr fleft"><a href="../../../user/index/id/561.html"><span class="player-name">Vessella Gianmarco</span></a></div>
                            <div class="w12 fright"></div>
                             <div class="clearfix"></div>
                        </div>
                                            </div>
                </div>
                <!--end giocatori-->
                        </div>
    		
			<div class="mt20 fleft w450">
				            
                            <!--prossime partite-->
                <div class="w450 fleft f14 mr40">
                    <div class="border_light_bottom pb5 mb10 lato f20 b">Proximo partido</div>
                    <div>
                                                        <div class="fleft pt10">
                                    <a href="../../../view/tournament/id/1.html" class="b black">Liga A Clausura 2013</a>
                                </div>
                                                            <br clear="all" />
                            <div class="wp100 pt5">
								<div class="fleft w300">
									<a href="../../../match/view/id/61.html">Me pesan - El selectivo</a>
                                </div>
                                <div class="w80 fright">
									31/10/2013								</div>
                            </div>
                            <div class="border_light_bottom_dotted pt20"></div>
                                            </div>
                </div>
                <!--end prossime partite-->
            
                        <!--competizioni-->
            <div class="w450 fleft f14 mt30">
                <div class="border_light_bottom pb5 mb10 lato f20 b">Campeonatos</div>
                                    <div class="fleft mb10" >
                        <div class="w50 mr10 fleft"><a href="../../../tournament/view/id/38.html"><img class="w50" src="uploads/pages_2d5f74974a92c68008605371d23ef378.png" /></a></div>
                        <div class="fleft">
                            <div class="w200 mr10 fleft"><a href="../../../tournament/view/id/38.html">CoppaCalciotto</a></div>
                            <div class="w70 mr10 fleft">2012</div>
                            <div class="w100 fleft nowrap">Calcio a 8</div>
                        </div>
                    </div>
                                    <div class="fleft mb10" >
                        <div class="w50 mr10 fleft"><a href="../../../tournament/view/id/22.html"><img class="w50" src="uploads/pages_2d5f74974a92c68008605371d23ef378.png" /></a></div>
                        <div class="fleft">
                            <div class="w200 mr10 fleft"><a href="../../../tournament/view/id/22.html">CoppaCalciotto3</a></div>
                            <div class="w70 mr10 fleft">2012</div>
                            <div class="w100 fleft nowrap">Calcio a 8</div>
                        </div>
                    </div>
                                    <div class="fleft mb10" >
                        <div class="w50 mr10 fleft"><a href="../../../tournament/view/id/28.html"><img class="w50" src="uploads/pages_c7cda981b1191d6fc39480949028c130.png" /></a></div>
                        <div class="fleft">
                            <div class="w200 mr10 fleft"><a href="../../../tournament/view/id/28.html">TorneoCalciotto</a></div>
                            <div class="w70 mr10 fleft">2012</div>
                            <div class="w100 fleft nowrap">Calcio a 8</div>
                        </div>
                    </div>
                                    <div class="fleft mb10" >
                        <div class="w50 mr10 fleft"><a href="../../../tournament/view/id/1.html"><img class="w50" src="uploads/pages_c7cda981b1191d6fc39480949028c130.png" /></a></div>
                        <div class="fleft">
                            <div class="w200 mr10 fleft"><a href="../../../tournament/view/id/1.html">TorneoCalciotto15</a></div>
                            <div class="w70 mr10 fleft">2012</div>
                            <div class="w100 fleft nowrap">Calcio a 8</div>
                        </div>
                    </div>
                                            </div>
            <!--end competizioni-->
			            </div>
    
			<div class="clearfix"></div>
            
            <div class="mt20">
                            <!--video-->
             
            
        	<div class="clearfix"></div>
		</div>
     </div>
	    </div>
		</div>
	</div> <!-- #wrapper -->
	
    <div class="clearfix"></div>
	<!--footer-->
	<div id="footer">
    <div class="wrapper">
			<div class="wp40 fleft">
				<p>
					2013 TFC <span class="grey">|</span> TFC <span class="grey">|</span>			
        </p>
      </div>
      <div class="wp60 fright">  
        <ul id="footer_links" class="fright">
			<li class="first"><a href="/">Home</a></li>
			<li><a href="/default/page/index/1">Torneos</a></li>
          <li><a href="/default/events">Fotos</a></li>
          <li><a href="/default/facilities">Sedes</a></li>
          <li class="last"><a href="/default/page/index/2">Contactos</a></li>
        </ul>
      </div>
      <div class="fright mt10">
				<a href="http://www.facebook.com/ARENDASD" target="_blank" title="facebook" class="social-fb fleft mr5">Link a Facebook</a>
        <a href="index.html" target="_blank" title="twitter" class="social-twitter fleft mr5">Link a Twitter</a>
        <a href="http://www.youtube.com/user/ARENDSPORT" target="_blank" title="youtube" class="social-youtube fleft">Link al canale Youtube</a>
      </div> 
		</div>
  </div>
	<!--end footer-->
	<script type="text/javascript">
		$(document).ready(function(){
			$(".player-name").each(function(){
				$(this).html($(this).html().toLowerCase());
			});

		});
	</script>
    </body>
</html>
