a:link {
	text-decoration: none;
	color:#666;
}
a:visited {
	text-decoration: none;
	color:#666;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
#popup_container {
	font-family: Arial, sans-serif;
	font-size: 16px;
	max-width: 80%;
	background: #e2f1f6;
	border: solid 5px #666;
	color: #000;
}
#popup_title {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	line-height: 1.75em;
	color: #FFF;
	background: #01ace1 url() top repeat-x;
	border: solid 1px #fff;
	border-bottom: solid 1px #999;
	cursor: default;
	padding: 0em;
	margin: 0em;
}
#popup_content {
	background: 16px 16px no-repeat;
	padding: 1em 1.75em;
	margin: 0em;
	text-align:center;
}
#popup_content.alert {
	background-image: url();
}
#popup_content.confirm {
 //background-image: url();
	background-image: none;
}
#popup_content.prompt {
	background-image: url();
}
#popup_message {
 // padding-left: 48px;
}
#popup_panel {
	text-align: center;
	margin: 1em 0em 0em 1em;
}
#popup_prompt {
	margin: .5em 0em;
}


